pipeline/FileTransfer.json
{
	"name": "FileTransfer",
	"properties": {
		"activities": [
			{
				"name": "Get File Info",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "JsonSrc",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"modifiedDatetimeEnd": null,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Last Modified",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get File Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastModifiedDatetime",
					"value": {
						"value": "@formatDateTime(activity('Get File Info').output.lastModified,'yyyy/mm/dd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "JsonSrc",
						"type": "DatasetReference"
					},
					"fieldList": [
						"lastModified"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "Set variable",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastModifiedDatetime",
					"value": {
						"value": "@formatDateTime(activity('Get Metadata').output.lastModified,'yyyy-MM-dd HH:mm:ss')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Metadata of Files",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "SrcPath",
						"type": "DatasetReference"
					},
					"fieldList": [],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "store properties",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata of Files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "LastModifiedDatetime",
					"value": {
						"value": "@activity('Get Metadata of Files').output.childItems",
						"type": "Expression"
					}
				}
			},
			{
				"name": "ForEach to loop all file properties",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "store properties",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [
					{
						"name": "fileMetadataArray"
					}
				],
				"typeProperties": {
					"items": {
						"value": "@variables('fileMetadataArray')",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "csvContent",
								"value": {
									"value": "@concat(variables('csvContent'), item().name, ',', formatDateTime(item().lastModified, 'yyyy-MM-dd HH:mm:ss'), ',', item().size, '\\n')\n",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"LastModifiedDatetime": {
				"type": "String"
			},
			"fileMetadataArray": {
				"type": "String"
			},
			"csvContent": {
				"type": "String"
			}
		},
		"annotations": []
	}
}